body {
  margin: 0;
  font-family: "sans-serif" ;
}
main {
  margin: 0 auto;
  /* width: 800px; */
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
  display: grid;
  grid-template: 
        "... ...... ...... ...... ...... ...... ..." 0px
        "... header header header header header ..." 50px
        "... ...... ...... ...... ...... ...... ..." 10px
        "... left   ...... center ...... right  ..." 1fr
        "... ...... ...... ...... ...... ...... ..." 10px
        "... footer footer footer footer footer ..." 30px
        "... ...... ...... ...... ...... ...... ..." 0px
        / auto 150px 20px 1fr 20px 200px auto;
}
header {
  grid-area: header;
  background-color:rgb(50, 50, 50);
  color: white;
  display: flex;
}
.header_title {
  margin: 0 10px;
  line-height: 50px;

}
.header_space {
  flex: 1;
}
.header_user {
  flex: 1;
  text-align: right;
  margin: 0;
  line-height: 50px;
}
.btn {
  line-height: 40px;
  padding: 5px;
  width: 90px;
  text-align: center;
}
header a {
  text-decoration: none;
}
header a:link, header a:visited, header a:hover, header a:active {
  color: white;
}
.header_title a:hover {
  color: gray;
  background-color:rgb(50, 50, 50);
}

a.btn:hover{
  // color: gray;
  background-color: rgba(0, 0, 0,0.5);
}
nav {
  grid-area: left;
  background-color: white;
  // box-shadow: 0 0 8px black;
  // border-radius: 5px;
}
article {
  grid-area: center;
  background-color: white;
  box-shadow: 0 0 5px gray;
  // border-radius: 5px;
}
.search_area {
  text-align: center;
  margin: 10px auto;
}
.search_area input[type="search"] {
  padding: 5px;
  border: solid 2px blue;
  font-size: medium;
  height: 30px;
  width: 300px;
  border-radius: 5px;
}
.search_area input[type="submit"] {
  border: solid 2px blue;
  font-size: medium;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 700);
}
.search_area input[type="submit"]:hover {
  background-color: blue;
  color: white;
}
.info {
  margin: 5px;
  font-size: 1.5rem;
  font-style: italic;
  border-image: linear-gradient(.25turn,#000, #aaa)1/0 0 5px 0;
  border-bottom: solid;
}
.article_area {
  margin: 10px;
}
.article_box {
  margin: 5px;
  border-bottom: solid 1px lightgray;
  display: grid;
  grid-template: 
        "title   title   title  "
        "....... ....... ......."
        "user    ....... time   "
        "....... ....... ......."
        "content content content"
        /auto 1fr auto;
}
.article_title {
  grid-area: title;
  margin: 5px;
}
// .article_title a {
//   text-decoration: none;
// }
.article_title a:link, .article_title a:visited, .article_title a:active {
  color: blue;
}
.article_title a:hover {
  color: red;
}
.article_user {
  grid-area: user;
  margin: 5px;
  font-size: 12px;
  color: gray;
}
.article_time {
  grid-area: time;
  margin: 5px;
  font-size: 12px;
  color: gray;
}
.article_content {
  grid-area: content;
  margin: 5px;
  font-size: 15px;
  color: black;
}
#article_title {
  font-size: 1rem;
  min-width: 500px;
  margin: 10px 0;
  padding: 5px;
}
.form_box {
  margin: 5px;
}
.reviews_area {
  margin: 5px;
}
.reviews_box {
  margin: 5px;
  color: gray;
  border-bottom: solid 1px lightgray;
}
.review_user {
  font-size: 0.8rem;
  display: inline;
}
.review_time {
  font-size: 0.8rem;
  display: inline;
}
.review_review {
  font-size: 0.8rem;
  display: inline;
}
.container {
  margin: 30px 10px;
}
form textarea {
  resize: vertical;
  width:400px;
  height:200px;
}
form input[type="submit"] {
  border: solid 2px blue;
  font-size: medium;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(240, 240, 240, 700);
}
form input[type="submit"]:hover {
  background-color: blue;
  color: white;
}
.login_area {
  text-align: center;
  height: 100vh;
  width: 500px;
  margin: auto;
  margin-top: 100px;
}
.login_box {
  border-bottom: solid 1px lightgray;
  width: 300px;
  margin: 0 auto;
}
.login_label {
  line-height: 0.1rem;
  font-size: 0.8rem;
  width: 300px;
  text-align: left;
}
.field_box {
  margin: 20px auto;
}
.field_box input[type="text"], .field_box input[type="email"], .field_box input[type="password"] {
  height: 30px;
  width: 300px;  
}
.actions input[type="submit"] {
  width: 310px;
  height: 40px;
}
.messeage {
  text-align: center;
  background-color: yellow;
  // outline: solid 1px orange;
  box-shadow: 0 0 8px darkorange;
  margin: 20px;
}
aside {
  grid-area: right;
  background-color: white;
  // box-shadow: 0 0 8px black;
  // border-radius: 5px;
}
footer {
  grid-area: footer;
  background-color: lightgray;
  color: gray;
  // outline: solid 0.5px gray;
  // box-shadow: 0 0 8px black;
  text-align: center;
  line-height: 30px;
}
@media screen and (max-width: 1000px) {
  main {
    grid-template: 
      "......"
      "header" 50px
      "......" 10px
      "center" 1fr
      "......" 10px
      "left  " 
      "......" 10px
      "right "
      "......" 10px
      "footer" 30px
      ;
  }
}